<configuration>
  <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="app"/>

  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeMdcKeyName>tenantId</includeMdcKeyName>
      <includeMdcKeyName>correlationId</includeMdcKeyName>
      <customFields>{"service":"${appName}"}</customFields>
    </encoder>
  </appender>

  <appender name="PLAIN" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level [tenant=%X{tenantId:-none} cid=%X{correlationId:-none}] %logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <springProfile name="!local">
    <root level="INFO"><appender-ref ref="JSON"/></root>
  </springProfile>
  <springProfile name="local">
    <root level="INFO"><appender-ref ref="PLAIN"/></root>
  </springProfile>
</configuration>
